.gif-fullscreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gif-fullscreen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif-fullscreen p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfect center */
  color: #ffffff;      
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7); 
  text-align: center;
}